<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="minCountDays" value="1" />
		<add key="maxCountDays" value="5" />
		<add key="isDebugMode" value = "true"/>
		<add key="requestTimeout" value = "1000"/>		
		<add key="countPointsInDay" value = "8"/>
		<add key="key" value = "3fe39edadae3ae57d133a80598d5b120"/>
		<add key="currentWeatherUrl" value = "https://api.openweathermap.org/data/2.5/weather?q={0}&amp;appid={1}&amp;units=metric"/>
		<add key="forecastWeatherUrl" value = "https://api.openweathermap.org/data/2.5/forecast?lat={0}&amp;lon={1}&amp;cnt={2}&amp;units=metric&amp;appid={3}"/>
		<add key="coordinatesUrl" value = "http://api.openweathermap.org/geo/1.0/direct?q={0}&amp;appid={1}"/>
		<add key="connectionString" value = "Server=(localdb)\MSSQLLocalDB;Database=weatherdb;Trusted_Connection=True;"/>		
	</appSettings>
</configuration>